@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html,body{
    width:100%;
    height:100%;
    padding:0;
    margin: 0;
}

.general{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.report{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    font-family: 'Ubuntu';
    background-color: #14161e;
    color: white;
    padding-left: 5vh;

}

.title{
    text-align:center;
    font-family:'Ubuntu',sans-serif;
    font-size: 300%;
}

.global{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.t{
    font-size: 40px;
}

.y{
    font-size: 20px;
}

p, h5{
    color: black;
}