@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html,body{
    width:100%;
    height:100%;
    padding:0;
    margin: 0;
}

.report{
    display: flex;

    width:100%;
    height:100%;
    font-family: 'Ubuntu';
    overflow: scroll;
    background-color: #14161e;
    color: white;

}




.title{
    text-align:center;
    font-family:'Ubuntu',sans-serif;
    font-size: 300%;
}

.global{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
