@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body,html{
    width:100%;
    height:100%;
    padding:0;
    margin:0;

}
button{
    cursor:pointer;
}
.principal{
    font-family: 'Ubuntu',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: white;
    width:100%;
    height:100%;
}

.logo{
    width:20vw;
    height:20vh;
    border-radius: 50% 50% 50% 50%;
    border-style: none;
    margin: 10px;
}

body{
    background-color: #14161e;
}

.data{
    margin-top: 5px;
    width:40%;
    height:30%;
    background-color: white;
    display: flex;
    flex-direction:column;
    align-items:center;
    border-radius: 50px;
}

.input-name{
    width:45%;
    height:auto;
}

input{
    border-radius: 50px;
    background-color:rgb(226, 224, 224);
    outline-style: none;
}

.name{
    width:30%;
    height:auto;
    color: black;
    font-size:20px;
    text-align: left;
}

button{
    border-radius: 50px;
    background-color:black;
    color: white;
    outline-style: none;
    border-style: solid;
}